<div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
</div>



<header class="site-navbar site-navbar-target" role="banner">

    <div class="container">
        <div class="row align-items-center position-relative">

            <div class="col-3 ">
                <div class="site-logo">
                    <a href="{% url 'index' %}">CarRent</a>
                </div>
            </div>

            <div class="col-9  text-right">


                <span class="d-inline-block d-lg-none"><a href="#"
                        class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span
                            class="icon-menu h3 text-white"></span></a></span>



                <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav ml-auto ">
                        <li {% if '/' == request.path %} class="active" {% else %} {% endif %}><a
                                href="{% url 'index' %}" class="nav-link">Home</a></li>
                        <li {% if 'services' in request.path %} class="active" {% else %} {% endif %}><a
                                href="{% url 'services' %}" class="nav-link">Services</a></li>
                        <li {% if 'car' in request.path %} class="active" {% else %} {% endif %}><a
                                href="{% url 'car' %}" class="nav-link">Cars</a></li>
                        <li {% if 'about' in request.path %} class="active" {% else %} {% endif %}><a
                                href="{% url 'about' %}" class="nav-link">About</a></li>
                        <li {% if 'blog' in request.path %} class="active" {% else %} {% endif %}><a
                                href="{% url 'blog' %}" class="nav-link">Blog</a></li>
                        <li {% if 'contact' in request.path %} class="active" {% else %} {% endif %}><a
                                href="{% url 'contact' %}" class="nav-link">Contact</a></li>
                        {% if user.is_authenticated %}
                        <li {% if 'dashboard' in request.path %} class="active" {% else %} {% endif %}><a
                                href="{% url 'dashboard' %}" class="nav-link">Welcom {{user.username}}</a></li>

                        <li class="nav-item"><a href="javascript:{document.getElementById('logout').submit()}"
                            class="send_logout_form">Logout</a></li>

                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>

                        {%else%}
                        <li {% if 'login' in request.path %} class="active" {% else %} {% endif %}><a
                                href="{% url 'login' %}" class="nav-link">login</a></li>
                        <li {% if 'register' in request.path %} class="active" {% else %} {% endif %}><a
                                href="{% url 'register' %}" class="nav-link">register</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>


        </div>
    </div>

</header>