{% extends 'base.html' %}
{% include "partials/_header.html" %}
<!-- <h1>Hello {{user.username}}{{user.first_name}}{{user.last_login}}{{user.email}}</h1> -->
{% block content %}
<div class="container-fluid korotko">
    <div class="container">
        <div class="row flex-lg-nowrap">
            <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
                <div class="card p-3">
                    <div class="e-navlist e-navlist--active-bg">
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link px-2" href="{% url 'dashboard' %}"><i class="fas fa-user-alt"></i><span> Profile</span></a></li>
                            <li class="nav-item"><a class="nav-link px-2 active" href="{% url 'car' %}"><i
                                        class="fas fa-car"></i><span> CAR LIST</span></a></li>
                            <li class="nav-item"><a class="nav-link px-2" href="#"><i
                                        class="fas fa-shopping-basket"></i><span> Basket</span></a></li>
                            <li class="nav-item"><a class="nav-link px-2" href="{% url 'dashboard_setings' %}"><i
                                        class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row">
                    <div class="col mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto mb-3">
                                            <div class="mx-auto" style="width: 140px;">
                                                <div class="d-flex justify-content-center align-items-center rounded"
                                                    style="height: 140px; background-color: rgb(233, 236, 239);">
                                                    <span
                                                        style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.username}}</h4>
                                                <p class="mb-0">{{user.email}}</p>
                                                <div class="text-muted"><small>Last seen {{user.last_login}}</small>
                                                </div>

                                            </div>
                                            <div class="text-center text-sm-right">
                                                <div class="text-muted"><small>Joined <br>{{user.date_joined}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 mb-3">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="px-xl-3">
                                    <button class="btn btn-block btn-secondary">
                                        <i class="fa fa-sign-out"></i>
                                        <span>Logout</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title font-weight-bold">Support</h6>
                                <p class="card-text">Get fast, free help from our friendly assistants.</p>
                                <button type="button" class="btn btn-primary"><a href="{% url 'contact' %}"><span
                                            class="cont"> Contact
                                            Us</span></a></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}