/* #header{
    color: #fff;
    background: rgba(76,76,76,1);
    height: 50px;
}
#branding>h1{
    color:  rgba(242,246,248,1);
    font-size: 3rem;
    font-weight: bolder;
}
#content h1{
    color: rgb(126, 104, 104);
    font-weight: bolder;
    text-decoration: underline;
}
.module caption{
    background-color: rgba(179,220,237,1);
}
a:link{
    color: #007bff;
}
div.breadcrumbs{
    color: #6b6b6b;
}
div.breadcrumbs a{
    color: #cccccc;
} */