{% extends 'base.html' %}
{% load static  %}
{% block content %}
{% include "partials/_header_about.html" %}
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            {% if carlist %}
            {% for car in carlist %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="{{car.photo_main.url}}" alt="Image" class="img-index-car"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">{{car.vendor}} {{car.model}}</a></h3>
                            <div class="rating row d-flex justify-content-center">
                                {% if car.rating == 1 %}
                                <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                {% elif car.rating == 2 %}
                                <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                {% elif car.rating == 3 %}
                                <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                {% elif car.rating == 4 %}
                                <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                {% elif car.rating == 5 %}
                                <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                {% endif %}
                            </div>

                            <div class="rent-price"><span>{{car.price}}$/</span>day</div>
                        </div>
                        <ul class="specs">
                            <li>
                                <span>Doors</span>
                                <span class="spec">{{car.doors}}</span>
                            </li>
                            <li>
                                <span>Seats</span>
                                <span class="spec">{{car.seats}}</span>
                            </li>
                            <li>
                                <span>Transmision</span>
                                <span class="spec">{{car.transmision}}</span>
                            </li>
                            <li>
                                <span>Eat fuel</span>
                                <span class="spec">{{car.fuel}} L/100km</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="{% url 'singlecar' car.id %}" class="btn btn-primary">Rent Now</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-1">

            </div>
            {% endif %}


            <div class="col-12">
                {% if carlist.has_other_pages %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if carlist.has_previous %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{carlist.previous_page_number}}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        {% endif %}

                        {% for i in carlist.paginator.page_range %}
                        {% if carlist.number == i %}
                        <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if carlist.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{carlist.next_page_number}}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container site-section mb-5">
    <div class="row justify-content-center text-center">
        <div class="col-7 text-center mb-5">
            <h2>How it works</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius
                earum voluptates sed!</p>
        </div>
    </div>
    <div class="how-it-works d-flex">
        <div class="step">
            <span class="number"><span>01</span></span>
            <span class="caption">Time &amp; Place</span>
        </div>
        <div class="step">
            <span class="number"><span>02</span></span>
            <span class="caption">Car</span>
        </div>
        <div class="step">
            <span class="number"><span>03</span></span>
            <span class="caption">Details</span>
        </div>
        <div class="step">
            <span class="number"><span>04</span></span>
            <span class="caption">Checkout</span>
        </div>
        <div class="step">
            <span class="number"><span>05</span></span>
            <span class="caption">Done</span>
        </div>

    </div>
</div>
{% endblock %}