{% extends 'base.html' %}
{% load static  %}
{% block content %}
{% include "partials/_header_about.html" %}


<div class="container mmm">
    <div class="row">
        <div class="col-12">
            <div class="single-text">
                <h3>{{car.vendor}} {{car.model}}</a></h3>
                <div class="rating row singl-stars">
                    {% if car.rating == 1 %}
                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                    {% elif car.rating == 2 %}
                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                    {% elif car.rating == 3 %}
                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                    {% elif car.rating == 4 %}
                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                    {% elif car.rating == 5 %}
                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                    {% endif %}
                </div>
                <div class="rent-price"><span class="rent-price1">{{car.price}}</span>$/day</div>
            </div>
            <div class="info_by_manager"></div>
        </div>
    </div>
    <div class="row d-flex justify-content-between mid">
        <div class="col-3 seler">
            {% if managers %}
            <div class="post-entry-1 h-100 person-1 ">

                <img src="{{ managers.photo.url }}" alt="Image" class="img-fluid">

                <div class="post-entry-1-contents">
                    <span class="meta">{{ managers.position }}</span>
                    <h2>{{ managers.name }}</h2>
                    <p>{{ managers.email }}</p>
                    <i class="fab fa-telegram tg"><span class="tg-vb">&nbsp;{{ managers.tg }}</span></i><br>
                    <i class="fab fa-viber vb"><span class="tg-vb">{{ managers.phone1 }}</span></i><br>
                    <i class="fab fa-viber vb"><span class="tg-vb">{{ managers.phone2 }}</span></i><br>
                    <i class="fab fa-viber vb"><span class="tg-vb">{{ managers.phone3 }}</span></i>
                </div>

            </div>
            {% else %}
            <div class="col-md-2">
                <p>No Managers Aviable</p>
            </div>
            {% endif %}
        </div>

        <!-- Carousel here https://stackoverflow.com/questions/30119351/how-to-make-an-object-slider-in-django -->
        <div class="col-9">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <div class="row">
                    <a href="#myCarousel" class="btn btn-primary col-1 d-flex align-items-center pprev" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <div class="carousel-inner col-9 ">
                        <div class="carousel-item active">
                            <img class="img-single-car" src="{{ car.photo_main.url }}" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="img-single-car" src="{{ car.photo_1.url }}" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="img-single-car" src="{{ car.photo_2.url }}" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="img-single-car" src="{{ car.photo_3.url }}" alt="Third slide">
                        </div>
                    </div>
                    
                    <a href="#myCarousel" class="btn btn-primary custom-next col-1 d-flex align-items-center nnext" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="offset-1  d-flex action">
                <a href="{% url 'contact'%}" class="btn btn-primary">Rent Now</a>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-4">
                <h3>{{car.vendor}} {{car.model}} 1996</a></h3>
                <ul class="specs">
                    <li class="d-flex justify-content-between list_for_deteil">
                        <span class="Deteil">Color</span>
                        <span class="spec about_deteil">{{car.color}}</span>
                    </li>
                    <li class="d-flex justify-content-between list_for_deteil">
                        <span class="Deteil">Engine</span>
                        <span class="spec about_deteil">{{car.engine}}</span>
                    </li>
                    <li class="d-flex justify-content-between list_for_deteil">
                        <span class="Deteil">Minimun age</span>
                        <span class="spec about_deteil">{{car.minimum_age}}</span>
                    </li>
                    <li class="d-flex justify-content-between list_for_deteil">
                        <span class="Deteil">Doors</span>
                        <span class="spec about_deteil">{{car.doors}}</span>
                    </li>
                    <li class="d-flex justify-content-between list_for_deteil">
                        <span class="Deteil">Seats</span>
                        <span class="spec about_deteil">{{car.seats}}</span>
                    </li>
                    <li class="d-flex justify-content-between list_for_deteil">
                        <span class="Deteil">Transmision</span>
                        <span class="spec about_deteil">{{car.transmision}}</span>
                    </li>
                    <li class="d-flex justify-content-between list_for_deteil">
                        <span class="Deteil">Eat fuel</span>
                        <span class="spec about_deteil">{{car.fuel}} L/100km</span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

{% endblock %}